Makefile.in
/aclocal.m4
/autom4te.cache
/conf/depcomp
/config.h.in
/config.h.in~
/configure

**/Makefile
**/__pycache__

/downloads'
'/.




/build
/deploy


# PROJECTS #
services/django-ariaform/code
services/django-ariaform/data
